.gitignore
*.nupkg
*.suo

**/bin/*
**/obj/*

packages

*.psess
*.vspx
/.nuget/packages.config
/.nuget/NuGet.config
/.vs/config
*.user
/direct2nuget.ps1
/nuget2direct.ps1
/TestResults/75d6fa5e-1a15-4834-9219-2887fbf2f315
testing
testing2
/Documentation/Help
testing231312334324
/TestResults/*
/Documentation/J2/Help
